h1{
    text-align: center;
    font-family: Arial Black, serif;
    font-size:xxx-large;
    font-weight: bold;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: Bahnschrif, serif;
    font-size: medium;
}

table{
    margin-left: auto;
    margin-right: auto;
}