<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Students</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body style="text-align: center">
<h1>Edit form</h1>
<form th:action="@{/students/save}" method="post" th:object="${student}" onsubmit="return validateForm()">
<input type="hidden" th:field="*{id}" />
<div>
    <label>First name:</label>
    <input type="text" th:field="*{firstName}" required />
</div>
<div>
    <label>Last name:</label>
    <input type="text" th:field="*{lastName}" required />
</div>
<div>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required />
</div>
<div>
    <label>Grade:</label>
    <input type="text" th:field="*{grade}" />
</div>
<div>
    <button type="submit">Update</button>
    <a th:href="@{/students}">Cancel</a>
</div>
</form>
</body>
</html>