<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View Student</title>
</head>
<body style="text-align: center">
<h1>Student Details</h1>

<div>
    <table style="margin-right: auto;margin-left: auto" border="1">
        <tr><th>ID</th> <td th:text="${student.id}"></td></tr>
        <tr><th>Name</th> <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td></tr>
        <tr><th>Email</th> <td th:text="${student.email}"></td></tr>
        <tr><th>DOB</th> <td th:text="${student.dateOfBirth}"></td></tr>
        <tr><th>Grade</th> <td th:text="${student.grade}"></td></tr>
        <tr><th>Created</th> <td th:text="${student.createdAt}"></td></tr>
        <tr><th>Updated</th> <td th:text="${student.updatedAt}"></td></tr>
    </table>
</div>

<p>
    <a th:href="@{/students}">Back to list</a> |
    <a th:href="@{|/students/edit/${student.id}|}">Edit</a>
</p>
</body>
</html>